<section id="login">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto ">

        <div class="card-auth ">
        
        <div class="text-center">

          <img src="../../../assets/images/logo.svg" class="w-50" alt="">
        </div>
        
          <h2 class="text-capitalize">login</h2>
          <p class="text-capitalize"> welcome back ! please enter your details</p>
          <form>

            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-mobile-screen"></i></span>
              <input type="text" class="form-control" placeholder="enter your email" aria-label="email" aria-describedby="basic-addon1">
            </div>



            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
              <input type="password" class="form-control" placeholder="enter your password" aria-label="password" aria-describedby="basic-addon1">
            </div>

            <div class="d-flex justify-content-between my-2">
              <a class="text-capitalize text-second text-decoration-none">register now ?</a>
              <a class="text-capitalize text-main text-decoration-none">forget password ?</a>
            </div>


            <button class="btn text-white w-100 bg-main">login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>